<form [formGroup]="searchForm" (submit)="doAdvancedSearch()">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="productDeleteDialogHeading">Search</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div>
      <jhi-alert-error></jhi-alert-error>
      <div class="row mb-3">
        <label class="form-label" for="field_name">Name</label>
        <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
      </div>

      <div class="row mb-3">
        <label class="form-label" for="field_price">Price</label>
        <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
      </div>

      <div class="row mb-3">
        <label class="form-label" for="field_quantity">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button id="jhi-confirm-delete-product" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-primary">
      <fa-icon icon="search"></fa-icon>&nbsp;<span>Search</span>
    </button>
  </div>
</form>
